@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@{DateTime localDate = DateTime.Now;}

<div class="text-center">
    <p>I have 600 pages of the 1st stormlight archive to read and my book is due in 8 days :)</a>.</p>
    <p> The local time is @localDate in Salt Lake City, Utah</p>
</div>
